In [2]:
import pandas as pd
import numpy as np
from scipy import sparse

from fast_pagerank import pagerank_power

In [3]:
cleaned_df = pd.read_csv("outputs/cleaned_matched_df.csv")
cleaned_df

,ReversedDomain,Content,Topic,ID
0,ac.accent,accent services uk based full service commerci...,Business,362
1,ac.accent,accent services a full service commercial and ...,Regional,362
2,ac.acs,anderson county schools public schools in the ...,Regional,383
3,ac.aikido,langnau aikidogruppe in zusammenarbeit mit der...,World,424
4,ac.apec,apec birmingham practice provides information ...,Business,536
...,...,...,...,...
1888976,zw.gov.parlzim,zimbabwe parliament provides current bills ord...,Regional,91033765
1888977,zw.org.csz,computer society of zimbabwe aims to encourage...,Regional,91033860
1888978,zw.org.nascoh,national association of societies for the care...,Society,91033952
1888979,zw.org.zlhr,zimbabwe lawyers for human rights zlhr non-pro...,Regional,91034088
1888980,zw.org.zlhr,zimbabwe lawyers for human rights zlhr non-pro...,Society,91034088

In [4]:
edges_df = pd.read_csv("outputs/filtered_edges_df.csv")
edges_df

          from_node   to_node
0               362  13833969
1               362  38847411
2               362  88039175
3               362  88492518
4               383  14597310
...             ...       ...
13868917   91033670  78099047
13868918   91033670  91031377
13868919   91033765  49584102
13868920   91033952  43485988
13868921   91033952  77324560

[13868922 rows x 2 columns]

In [5]:
valid_nodes = cleaned_df["ID"].drop_duplicates().reset_index(drop=True)
valid_nodes

0               362
1               383
2               424
3               536
4               548
             ...
1808224    91033670
1808225    91033765
1808226    91033860
1808227    91033952
1808228    91034088
Name: ID, Length: 1808229, dtype: int64

## Create graph

In [6]:
# Create indexing for graph (convert ID to IND)
id_node_series = pd.Series(valid_nodes.index, index=valid_nodes.values)
id_node_series

362               0
383               1
424               2
536               3
548               4
             ...
91033670    1808224
91033765    1808225
91033860    1808226
91033952    1808227
91034088    1808228
Length: 1808229, dtype: int64

In [7]:
dim = len(valid_nodes)
G = sparse.csr_matrix((np.ones(len(edges_df)), 
                       (id_node_series.reindex(edges_df['from_node']), 
                        id_node_series.reindex(edges_df['to_node']))), shape=(dim, dim))

## Create topic biased pagerank vectors (+ personalization vectors)

In [8]:
pr_vectors = valid_nodes.to_frame()
personal_vectors = valid_nodes.to_frame()
personal_vectors

               ID
0             362
1             383
2             424
3             536
4             548
...           ...
1808224  91033670
1808225  91033765
1808226  91033860
1808227  91033952
1808228  91034088

[1808229 rows x 1 columns]

In [9]:
alpha = 0.85

In [10]:
for topic, group in cleaned_df.groupby("Topic"):
    personalization_vector = np.zeros(dim, dtype=float)
    personalization_vector[id_node_series.reindex(group["ID"])] = 1 / len(group)
    
    personal_vectors[topic] = personalization_vector

    pr_vectors[topic] = pagerank_power(G, p=alpha, personalize=personalization_vector, tol=1e-9)

In [11]:
personal_vectors

,ID,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World
0,362,0.0,0.000007,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000002,0.0,0.0,0.000000,0.0,0.000000
1,383,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000002,0.0,0.0,0.000000,0.0,0.000000
2,424,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000001
3,536,0.0,0.000007,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
4,548,0.0,0.000000,0.0,0.0,0.000045,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808224,91033670,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000002,0.0,0.0,0.000000,0.0,0.000000
1808225,91033765,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000002,0.0,0.0,0.000000,0.0,0.000000
1808226,91033860,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000002,0.0,0.0,0.000000,0.0,0.000000
1808227,91033952,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000014,0.0,0.000000
1808228,91034088,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000002,0.0,0.0,0.000014,0.0,0.000000

In [12]:
pr_vectors

,ID,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World
0,362,0.000000e+00,2.867844e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.790263e-07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,383,3.552078e-07,2.488685e-07,1.595801e-07,1.558921e-07,4.332948e-07,3.751190e-07,4.472234e-07,2.191070e-07,8.088928e-07,2.022850e-06,3.894907e-07,2.471411e-07,3.662677e-07,2.151713e-07,7.745668e-08
2,424,2.559853e-11,1.772450e-11,1.752886e-11,2.302014e-11,1.102922e-11,1.174043e-11,2.047072e-11,3.880868e-11,1.250364e-11,1.929843e-11,1.920116e-11,3.092021e-11,1.731083e-11,2.109874e-11,6.310186e-07
3,536,7.311693e-11,2.867865e-06,2.769328e-11,3.008064e-11,1.097441e-10,1.080446e-10,2.328975e-11,2.769076e-10,2.336614e-11,3.920863e-09,3.699444e-11,7.537096e-11,4.380096e-11,2.568643e-11,1.368259e-11
4,548,1.151250e-08,1.518159e-08,9.996378e-09,6.776062e-09,1.500085e-05,1.267889e-08,2.493297e-08,8.153355e-09,1.656175e-08,6.066478e-08,1.208807e-08,9.676475e-09,4.752566e-08,1.078235e-08,3.964186e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808224,91033670,5.578693e-07,2.849916e-07,6.358736e-07,3.031884e-07,2.670043e-07,3.447225e-07,8.843363e-07,2.582276e-07,5.597177e-07,1.426333e-06,7.059648e-07,2.773599e-07,5.215272e-07,1.501077e-06,3.392927e-07
1808225,91033765,5.142124e-07,4.583613e-07,5.854430e-07,4.543513e-07,5.477401e-07,5.744776e-07,1.074367e-06,4.573495e-07,1.536479e-06,1.217541e-06,1.122675e-06,4.459816e-07,1.285956e-06,4.575942e-07,5.541250e-07
1808226,91033860,1.228591e-07,1.068073e-07,2.786091e-07,1.468843e-07,1.096799e-07,1.318228e-07,1.433357e-07,1.154340e-07,1.156378e-07,9.380712e-07,1.068380e-07,1.187885e-07,1.691245e-07,1.294425e-07,1.089917e-07
1808227,91033952,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.348546e-06,0.000000e+00,0.000000e+00
1808228,91034088,4.428336e-06,3.749422e-06,4.106405e-06,4.689854e-06,3.003848e-06,4.177501e-06,3.370099e-06,4.131793e-06,2.661254e-06,4.255930e-06,4.054271e-06,4.974883e-06,9.370096e-06,3.572324e-06,1.963068e-06

## Create unbiased pagerank vector

In [13]:
pr_vectors["Unbiased"] = pagerank_power(G, p=alpha, tol=1e-9)

In [14]:
pr_vectors

,ID,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World,Unbiased
0,362,0.000000e+00,2.867844e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.790263e-07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.011731e-07
1,383,3.552078e-07,2.488685e-07,1.595801e-07,1.558921e-07,4.332948e-07,3.751190e-07,4.472234e-07,2.191070e-07,8.088928e-07,2.022850e-06,3.894907e-07,2.471411e-07,3.662677e-07,2.151713e-07,7.745668e-08,8.037431e-07
2,424,2.559853e-11,1.772450e-11,1.752886e-11,2.302014e-11,1.102922e-11,1.174043e-11,2.047072e-11,3.880868e-11,1.250364e-11,1.929843e-11,1.920116e-11,3.092021e-11,1.731083e-11,2.109874e-11,6.310186e-07,2.582948e-07
3,536,7.311693e-11,2.867865e-06,2.769328e-11,3.008064e-11,1.097441e-10,1.080446e-10,2.328975e-11,2.769076e-10,2.336614e-11,3.920863e-09,3.699444e-11,7.537096e-11,4.380096e-11,2.568643e-11,1.368259e-11,2.025562e-07
4,548,1.151250e-08,1.518159e-08,9.996378e-09,6.776062e-09,1.500085e-05,1.267889e-08,2.493297e-08,8.153355e-09,1.656175e-08,6.066478e-08,1.208807e-08,9.676475e-09,4.752566e-08,1.078235e-08,3.964186e-09,2.380104e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808224,91033670,5.578693e-07,2.849916e-07,6.358736e-07,3.031884e-07,2.670043e-07,3.447225e-07,8.843363e-07,2.582276e-07,5.597177e-07,1.426333e-06,7.059648e-07,2.773599e-07,5.215272e-07,1.501077e-06,3.392927e-07,7.658747e-07
1808225,91033765,5.142124e-07,4.583613e-07,5.854430e-07,4.543513e-07,5.477401e-07,5.744776e-07,1.074367e-06,4.573495e-07,1.536479e-06,1.217541e-06,1.122675e-06,4.459816e-07,1.285956e-06,4.575942e-07,5.541250e-07,8.163580e-07
1808226,91033860,1.228591e-07,1.068073e-07,2.786091e-07,1.468843e-07,1.096799e-07,1.318228e-07,1.433357e-07,1.154340e-07,1.156378e-07,9.380712e-07,1.068380e-07,1.187885e-07,1.691245e-07,1.294425e-07,1.089917e-07,4.044275e-07
1808227,91033952,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.348546e-06,0.000000e+00,0.000000e+00,2.011731e-07
1808228,91034088,4.428336e-06,3.749422e-06,4.106405e-06,4.689854e-06,3.003848e-06,4.177501e-06,3.370099e-06,4.131793e-06,2.661254e-06,4.255930e-06,4.054271e-06,4.974883e-06,9.370096e-06,3.572324e-06,1.963068e-06,3.333265e-06

In [15]:
pr_vectors.to_csv("outputs/pr_vectors_df.csv", index=False)

In [16]:
personal_vectors.to_csv("outputs/personalization_vectors_df.csv", index=False)

In [28]:
edges_df.iloc[np.where(edges_df["to_node"] == 77324560)]

          from_node   to_node
116             650  77324560
305            5158  77324560
312            9336  77324560
351           10001  77324560
369           10017  77324560
...             ...       ...
13868831   91031923  77324560
13868850   91032988  77324560
13868894   91033467  77324560
13868914   91033668  77324560
13868921   91033952  77324560

[183460 rows x 2 columns]

In [33]:
91032988 in valid_nodes

False

In [36]:
s = []
for n in edges_df["from_node"]:
    if n not in valid_nodes:
        s.append(n)
        
set(s)

{8388608,
 25165824,
 85983235,
 29360135,
 23068680,
 71303178,
 2097166,
 29360142,
 12582928,
 2097169,
 65011730,
 25165844,
 83886101,
 6291478,
 88080404,
 77594648,
 37748762,
 27263004,
 31457309,
 35651614,
 54525980,
 6291490,
 31457318,
 77594664,
 39845930,
 31457330,
 6291508,
 20971575,
 29360183,
 33554487,
 14680122,
 77594680,
 85983291,
 14680125,
 29360189,
 10485823,
 77594689,
 29360199,
 77594695,
 10485833,
 2097230,
 4194382,
 27263056,
 54526034,
 77594709,
 77594710,
 35651677,
 77594717,
 10485855,
 23068768,
 77594721,
 52428898,
 35651683,
 54526051,
 29360229,
 71303269,
 77594730,
 88080490,
 69206124,
 88080492,
 77594734,
 71303279,
 35651698,
 77594740,
 71303285,
 71303288,
 29360249,
 77594749,
 33554558,
 77594751,
 54526090,
 35651726,
 88080526,
 71303313,
 50331796,
 37748885,
 77594778,
 29360288,
 29360290,
 29360291,
 46137506,
 23068837,
 6291628,
 2097326,
 35651759,
 50331825,
 14680247,
 35651768,
 41943228,
 6291646,
 77594817,
 52428995,
 69206213,
 65011915,
 6291663,
 37748947,
 29360344,
 52429017,
 10485978,
 35651802,
 88080601,
 6291678,
 29360351,
 65011934,
 29360354,
 6291684,
 29360356,
 41943268,
 27263207,
 41943270,
 52429030,
 56623337,
 88080616,
 31457516,
 12583149,
 69206256,
 35651826,
 81789170,
 14680308,
 35651829,
 85983481,
 18874619,
 29360380,
 37748988,
 60817661,
 85983486,
 33554688,
 33554690,
 54526212,
 52429061,
 33554695,
 31457544,
 52429063,
 29360395,
 44040467,
 56623384,
 56623386,
 39846171,
 85983520,
 33554722,
 44040482,
 65012008,
 23068969,
 29360425,
 23068972,
 60817710,
 2097457,
 54526258,
 79692082,
 18874683,
 6291774,
 46137663,
 27263302,
 10486087,
 27263303,
 73400646,
 29360460,
 50331983,
 12583248,
 65012048,
 54526290,
 6291797,
 52429151,
 46137696,
 29360483,
 65012068,
 88080742,
 23069033,
 67109225,
 6291819,
 12583279,
 14680436,
 23069046,
 60817783,
 33554814,
 65012099,
 6291844,
 14680454,
 23069067,
 77595019,
 54526352,
 46137754,
 88080799,
 29360544,
 18874787,
 8389029,
 37749159,
 37749161,
 23069098,
 14680496,
 27263410,
 46137780,
 6291893,
 88080821,
 71303616,
 79692227,
 18874820,
 29360583,
 37749192,
 69206474,
 10486219,
 18874828,
 37749208,
 27263451,
 44040668,
 77595101,
 88080862,
 52429282,
 52429284,
 88080868,
 77595110,
 37749223,
 77595116,
 37749231,
 41943535,
 88080879,
 33554933,
 29360633,
 77595129,
 79692281,
 18874877,
 2097662,
 52429310,
 2097666,
 31457795,
 10486278,
 50332167,
 54526472,
 73400844,
 88080908,
 37749262,
 77595159,
 16777753,
 29360666,
 31457819,
 73400863,
 77595168,
 73400868,
 88080934,
 33554983,
 77595175,
 18874921,
 50332203,
 33554988,
 18874926,
 12583471,
 10486322,
 35652146,
 6292020,
 31457848,
 23069243,
 29360703,
 65012289,
 44040772,
 37749321,
 39846474,
 52429387,
 50332236,
 37749327,
 14680664,
 6292058,
 54526561,
 35652194,
 71303782,
 58720871,
 54526572,
 88081007,
 14680696,
 16777849,
 33555069,
 14680702,
 23069310,
 52429439,
 88081022,
 50332290,
 69206658,
 88081028,
 65012357,
 50332296,
 23069321,
 29360777,
 18875027,
 83886741,
 77595286,
 56623771,
 39846557,
 29360802,
 39846562,
 44040867,
 56623779,
 18875046,
 88081058,
 46138024,
 14680747,
 39846574,
 50332336,
 14680753,
 37749429,
 33555126,
 31457975,
 88081078,
 60818107,
 71303871,
 39846592,
 12583619,
 35652292,
 39846596,
 23069384,
 12583625,
 44040905,
 33555149,
 6292176,
 31458005,
 4195030,
 35652315,
 33555168,
 39846626,
 16777955,
 37749478,
 16777960,
 31458031,
 54526712,
 56623867,
 41943812,
 56623880,
 41943818,
 14680846,
 29360910,
 50332430,
 16778001,
 71303952,
 16778004,
 41943829,
 77595414,
 71303959,
 23069467,
 54526748,
 52429598,
 54526750,
 54526753,
 6292259,
 14680878,
 31458099,
 37749561,
 88081210,
 14680892,
 10486589,
 20972353,
 46138180,
 88081220,
 50332487,
 29360968,
 23069515,
 56623956,
 14680923,
 44041060,
 29361000,
 18875250,
 12583795,
 33555317,
 67109750,
 85984124,
 46138242,
 10486661,
 23069575,
 27263879,
 88081287,
 10486667,
 29361037,
 20972431,
 52429712,
 60818322,
 44041108,
 35652501,
 35652502,
 37749657,
 29361053,
 88081310,
 77595551,
 44041122,
 46138281,
 79692715,
 29361069,
 20972464,
 79692725,
 27263931,
 16778174,
 16778175,
 41944007,
 37749704,
 50332617,
 85984205,
 31458256,
 12583892,
 31458261,
 29361110,
 77595606,
 60818392,
 20972510,
 71304163,
 88081380,
 18875366,
 10486759,
 79692775,
 52429803,
 10486771,
 6292473,
 77595641,
 12583931,
 50332668,
 88081401,
 12583934,
 85984256,
 50332673,
 20972546,
 14681091,
 50332674,
 2098181,
 14681094,
 50332675,
 50332682,
 14681103,
 16778255,
 20972559,
 88081425,
 88081427,
 83887124,
 77595670,
 83887130,
 58721308,
 39846944,
 29361185,
 65012768,
 14681125,
 31458342,
 31458343,
 58721319,
 27264044,
 27264045,
 71304237,
 39846963,
 14681140,
 77595699,
 39846967,
 27264056,
 85984312,
 52429882,
 88081463,
 20972605,
 79692861,
 10486853,
 41944134,
 56624199,
 27264073,
 46138444,
 37749844,
 8389717,
 50332758,
 6292569,
 46138460,
 58721374,
 16778335,
 50332769,
 50332772,
 50332774,
 12584046,
 16778353,
 29361272,
 8389753,
 20972668,
 60818556,
 52429952,
 73401472,
 18875525,
 35652742,
 46138501,
 6292616,
 37749897,
 20972688,
 16778386,
 71304340,
 16778392,
 52429985,
 16778409,
 14681260,
 29361325,
 16778420,
 71304372,
 77595830,
 8389815,
 14681275,
 52430011,
 52430014,
 65012926,
 71694183,
 23069889,
 85984449,
 6292677,
 52430023,
 20972746,
 23069902,
 31458510,
 35652816,
 29361371,
 27264222,
 65012960,
 83887328,
 10487010,
 71304418,
 12584164,
 56624356,
 73401572,
 18875623,
 35652841,
 31458540,
 52430068,
 54527224,
 77595898,
 29361404,
 14681345,
 39847172,
 50332932,
 50332933,
 90178822,
 33555720,
 44041483,
 46138635,
 16778514,
 50332948,
 10487061,
 31458582,
 6292761,
 18875674,
 29361436,
 14681373,
 4195621,
 46138662,
 77595942,
 16778539,
 54527277,
 35652913,
 44041522,
 37750075,
 54527294,
 2098496,
 2098501,
 2098502,
 52430150,
 65013061,
 52430157,
 54527309,
 60818767,
 65013070,
 44041554,
 31458646,
 37750102,
 16778587,
 50333023,
 39847268,
 90178917,
 31458663,
 65013095,
 50333037,
 44041587,
 77596022,
 46138743,
 29361530,
 14681468,
 83887485,
 52430206,
 14681471,
 14681487,
 77596056,
 10487197,
 73401758,
 79693216,
 65013156,
 37750181,
 60818854,
 79693223,
 10487209,
 39847339,
 16778670,
 12584367,
 41944495,
 23070129,
 67110321,
 65013171,
 50333109,
 77596087,
 46138810,
 46138813,
 37750209,
 71304644,
 44041670,
 6292935,
 85984718,
 71304655,
 65013203,
 50333140,
 27264473,
 52430297,
 69207516,
 2098653,
 2098654,
 18875870,
 65013216,
 65013218,
 50333155,
 79693285,
 71304678,
 35653096,
 79693288,
 73401834,
 2098668,
 14681580,
 35653102,
 6292975,
 71304688,
 2098679,
 46138876,
 39847421,
 14681599,
 16778751,
 65013248,
 54527492,
 52430343,
 79693321,
 88081931,
 16778764,
 16778765,
 65013261,
 2098703,
 16778769,
 65013265,
 44041747,
 79693337,
 88081949,
 79693345,
 39847460,
 27264551,
 31458855,
 88081960,
 14681644,
 65013293,
 88081964,
 39847472,
 60818992,
 6293045,
 88081973,
 12584505,
 65013306,
 79693379,
 27264580,
 31458886,
 54527558,
 88081995,
 37750350,
 79693396,
 77596245,
 54527575,
 74195216,
 29361755,
 39847515,
 79693404,
 6293088,
 71304800,
 6293090,
 37750371,
 79693408,
 88082036,
 88082040,
 71304825,
 73401978,
 2098811,
 12584571,
 16778877,
 20973182,
 79693435,
 85866331,
 54527619,
 39847558,
 73401996,
 44041873,
 35653271,
 79693464,
 54527641,
 14681766,
 79693479,
 27264681,
 44041898,
 73402026,
 54527660,
 10487469,
 85984942,
 35653302,
 41944768,
 46139072,
 14681794,
 18876100,
 14681798,
 6293194,
 16778954,
 41944779,
 79693514,
 27264723,
 39847636,
 88082132,
 73402070,
 44041943,
 88082135,
 29361882,
 27264731,
 10487520,
 27264737,
 52430568,
 58722026,
 39847659,
 2098930,
 10487539,
 73402101,
 35653366,
 56624886,
 6293241,
 31459065,
 2098939,
 65013499,
 6293247,
 65013504,
 18876163,
 35653380,
 23070471,
 2098953,
 54527754,
 44041996,
 2098958,
 54527761,
 6293266,
 12584723,
 58722070,
 67110680,
 14681885,
 88082205,
 71304991,
 16779043,
 12584746,
 39847724,
 27264813,
 54527790,
 16779055,
 77596464,
 50333489,
 52430642,
 10487603,
 60819252,
 79693614,
 79693617,
 88082223,
 20973368,
 23070520,
 44042042,
 6293307,
 16779070,
 79693630,
 6293312,
 10487617,
 88082244,
 52430667,
 88082251,
 88082253,
 88082257,
 52430674,
 14681939,
 65013589,
 18876247,
 79693659,
 37750626,
 85985124,
 52430702,
 71305079,
 20973432,
 18876281,
 20973434,
 27264890,
 90179450,
 88082301,
 16779134,
 20973438,
 37750654,
 16779142,
 20973447,
 29362058,
 2099090,
 23070614,
 2099095,
 39847830,
 10487706,
 27264922,
 77596572,
 54527901,
 88082332,
 39847841,
 60819364,
 29362086,
 39847849,
 27264939,
 88082348,
 67110832,
 27264946,
 16779198,
 27264959,
 52430784,
 41945027,
 12584902,
 71305158,
 6293449,
 10487753,
 44042186,
 50333641,
 23070669,
 50333642,
 79693774,
 88082383,
 65013717,
 65013718,
 35653594,
 31459291,
 50333658,
 6293480,
 37750764,
 77596653,
 54527983,
 65013749,
 88082423,
 31459320,
 33556474,
 67110906,
 79693819,
 37750782,
 60819454,
 65013758,
 54528001,
 12584969,
 35653641,
 56625162,
 54528013,
 14682126,
 35653646,
 41945108,
 14682133,
 88082453,
 77596698,
 2099228,
 88082460,
 14682145,
 35653667,
 50333733,
 2099238,
 56625189,
 88082472,
 16779305,
 65013801,
 67110954,
 16779309,
 10487855,
 23070767,
 77596722,
 71305267,
 12585015,
 83888184,
 90179639,
 31459391,
 41945158,
 56625224,
 33556554,
 85985355,
 58722382,
 23070799,
 50333776,
 35653713,
 67110997,
 2099289,
 29362269,
 20973663,
 73402464,
 10487906,
 6293608,
 65013864,
 39848043,
 27265132,
 77596784,
 54528114,
 46139507,
 29362304,
 88082565,
 37750918,
 54528134,
 54528135,
 73402506,
 79693964,
 65013901,
 2099342,
 58722448,
 14682264,
 12585114,
 52431002,
 73402526,
 14682272,
 27265185,
 12585125,
 35653799,
 35653800,
 23070889,
 52431015,
 33556656,
 60819632,
 65013938,
 54528179,
 73402550,
 16779447,
 41945273,
 31459518,
 35653823,
 52431039,
 60819648,
 85985480,
 54528202,
 88082637,
 14682318,
 79694042,
 27265244,
 12585181,
 23070941,
 10488031,
 35653852,
 50333920,
 88082660,
 77596905,
 77596906,
 54528243,
 77596915,
 27265270,
 14682359,
 27265271,
 44042486,
 77596921,
 33556733,
 39848189,
 88082690,
 52431110,
 54528263,
 35653897,
 29362442,
 14682379,
 20973837,
 27265294,
 54528271,
 37751056,
 88082702,
 65014034,
 54528276,
 39848214,
 35653912,
 29362459,
 14682397,
 12585246,
 39848229,
 50333992,
 39848233,
 16779566,
 67111217,
 73402678,
 50334008,
 6293819,
 35653947,
 52431164,
 41945411,
 14682436,
 54528323,
 79694149,
 29362506,
 44042570,
 46139724,
 41945421,
 71305548,
 77597007,
 16779604,
 10488151,
 25168223,
 20973922,
 27265381,
 27265385,
 35653994,
 52431209,
 16779628,
 88082797,
 12585329,
 20973937,
 60819825,
 12585332,
 ...}

In [26]:
np.where(~edges_df['to_node'].isin(valid_nodes))

(array([], dtype=int64),)

In [23]:
edges_df

          from_node   to_node
0               362  13833969
1               362  38847411
2               362  88039175
3               362  88492518
4               383  14597310
...             ...       ...
13868917   91033670  78099047
13868918   91033670  91031377
13868919   91033765  49584102
13868920   91033952  43485988
13868921   91033952  77324560

[13868922 rows x 2 columns]

In [5]:
# import rustworkx

# graph = rx.PyDiGraph()
# graph.add_nodes_from(valid_nodes)

# Need edges list to be in terms of the indicies 
# edges_list = list(zip(id_node_series.reindex(edges_df['from_node']), id_node_series.reindex(edges_df['to_node'])))

# graph.add_edges_from_no_data(edges_list)
# len(graph.nodes())

In [32]:
weights = np.array([0.000000, 0.059181, 0.036517, 0.000000, 0.051956, 0.000000, 0.000000, 0.000000, 0.129435, 
                    0.017112, 0.044625, 0.075449, 0.583880, 0.000000, 0.001845])
weights

array([0.      , 0.059181, 0.036517, 0.      , 0.051956, 0.      ,
       0.      , 0.      , 0.129435, 0.017112, 0.044625, 0.075449,
       0.58388 , 0.      , 0.001845])

In [25]:
pr_vectors

,ID,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World,Unbiased
0,362,0.000000e+00,1.498642e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.361890e-07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.148684e-07
1,383,6.393060e-06,8.917722e-06,7.320605e-06,6.801204e-06,8.280223e-06,7.133076e-06,6.111280e-06,8.253913e-06,6.925709e-06,1.019222e-05,6.780863e-06,8.121686e-06,8.750813e-06,8.716358e-06,7.783090e-06,8.619491e-06
2,390,1.522791e-06,9.504839e-07,1.386516e-06,2.670425e-05,9.543138e-07,1.112552e-06,1.063457e-06,1.087097e-06,1.118466e-06,9.674741e-07,1.121593e-06,9.912928e-07,1.109983e-06,9.798989e-07,9.918484e-07,1.151542e-06
3,424,7.858411e-09,2.881648e-09,4.524512e-09,3.438162e-09,2.493980e-09,2.619673e-09,2.556108e-09,2.942114e-09,3.070549e-09,3.185356e-09,3.382968e-09,2.767585e-09,3.680720e-09,2.767798e-09,2.956895e-07,1.304056e-07
4,442,1.443802e-06,1.489337e-06,6.973969e-06,1.549083e-06,1.361431e-06,1.391323e-06,1.199559e-06,1.415722e-06,1.389417e-06,1.483011e-06,1.370871e-06,1.407167e-06,1.465477e-06,1.396929e-06,1.721420e-06,1.719387e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089095,91033860,1.671104e-07,2.085876e-07,2.424794e-07,1.832631e-07,1.738028e-07,1.624322e-07,1.438726e-07,1.834418e-07,1.850094e-07,5.641621e-07,1.972626e-07,1.731439e-07,1.850381e-07,1.742519e-07,2.078488e-07,3.266362e-07
2089096,91033932,2.967283e-07,1.181393e-07,1.885021e-07,2.755727e-07,2.075908e-07,5.334217e-07,1.543356e-07,2.163607e-07,1.573319e-07,5.270430e-07,2.704944e-07,1.793535e-07,3.065950e-07,1.449189e-07,1.133435e-07,2.802482e-07
2089097,91033952,4.177959e-08,4.817609e-08,4.460005e-08,3.859092e-08,5.765525e-08,5.778306e-08,4.950349e-08,4.947143e-08,6.118235e-08,7.779341e-08,6.265003e-08,4.068223e-08,2.217057e-06,4.861505e-08,3.217385e-08,1.656155e-07
2089098,91034085,1.317181e-07,1.437084e-07,4.772864e-06,1.388089e-07,1.302309e-07,1.312568e-07,1.257381e-07,1.280443e-07,1.363033e-07,4.752886e-07,1.342529e-07,1.374969e-07,1.574873e-07,1.293131e-07,1.439012e-07,2.590354e-07
2089099,91034088,4.252099e-07,3.736757e-07,3.947651e-07,3.891017e-07,4.590540e-07,4.274587e-07,5.319076e-07,3.927426e-07,4.464814e-07,7.321779e-07,5.078783e-07,3.825401e-07,2.763175e-06,3.635769e-07,3.279794e-07,4.875942e-07

In [38]:
lc_ranks = (weights * pr_vectors.drop(columns=["ID", "Unbiased"])).sum(axis=1)
lc_ranks

0          9.444397e-08
1          8.335285e-06
2          1.092558e-06
3          3.971704e-09
4          1.644943e-06
               ...
2089095    1.941197e-07
2089096    2.588704e-07
2089097    1.317145e-06
2089098    3.239215e-07
2089099    1.796194e-06
Length: 2089100, dtype: float64

In [44]:
cleaned_df["Ranks"] = lc_ranks
cleaned_df

0                                                        362
1                                                        383
2                                                        390
3                                                        424
4                                                        442
                                 ...
2089096                                             91033932
2089097                                             91033952
2089098                                             91034085
2089099                                             91034088
Ranks      0          9.444397e-08
1          8.335285e-0...
Name: ID, Length: 2089101, dtype: object

In [39]:
lc_personal = (weights * personal_vectors.drop(columns=["ID"])).sum(axis=1)
lc_personal

0          3.757246e-07
1          2.501202e-08
2          0.000000e+00
3          1.943470e-09
4          7.113747e-07
               ...
2089095    2.501202e-08
2089096    2.501202e-08
2089097    5.814032e-06
2089098    7.363868e-07
2089099    5.839044e-06
Length: 2089100, dtype: float64

In [42]:
pagerank_power(G, p=alpha, personalize=lc_personal.to_numpy(), tol=1e-12)

array([8.26899357e-08, 8.32494696e-06, 1.09390504e-06, ...,
       1.33026948e-06, 3.17852633e-07, 1.81072941e-06], shape=(2089100,))

In [58]:
ranked_nodes = lc_ranks.rename(index=valid_nodes).sort_values(ascending=False)
ranked_df = cleaned_df.set_index('ID').loc[ranked_nodes.index]

21860195    0.021713
48714451    0.015185
45612695    0.014011
24230475    0.013406
24229864    0.009535
              ...
88093163    0.000000
37179248    0.000000
19874554    0.000000
45604211    0.000000
1695963     0.000000
Length: 2089100, dtype: float64

In [60]:
ranked_df = cleaned_df.set_index('ID').loc[ranked_nodes.index]

In [61]:
ranked_df.head(20)

,Topic,ReversedDomain,Content
21860195,Arts,com.facebook,"['comic', 'kings', 'a', 'virginia', 'beach', '..."
21860195,Business,com.facebook,"['abc', 'farms', 'pvt', 'ltd', 'dairy', 'farmi..."
21860195,Computers,com.facebook,"['euphnet', 'silicon', 'valley', 'internet', '..."
21860195,Games,com.facebook,"['syracuse', 'board', 'games', 'and', 'shenani..."
21860195,Health,com.facebook,"['riverstone', 'veterinary', 'hospital', 'list..."
21860195,Home,com.facebook,"['parkhill', 'area', 'horticultural', 'society..."
21860195,News,com.facebook,"['impact', 'newspaper', 'published', 'by', 'th..."
21860195,Recreation,com.facebook,"['typewriter', 'collectors', 'alliance', 'face..."
21860195,Reference,com.facebook,"['nus', 'taekwondo', 'club', 'flash', 'animate..."
21860195,Regional,com.facebook,"['collectif', 'arcenciel', 'facebook', 'group'..."
21860195,Science,com.facebook,"['american', 'honey', 'bee', 'rescue', 'allian..."
21860195,Shopping,com.facebook,"['go', 'stained', 'glass', 'tiffany', 'lamp', ..."
21860195,Society,com.facebook,"['community', 'for', 'creative', 'non-violence..."
21860195,Sports,com.facebook,"['baarbd', 'org', 'bay', 'area', 'adventure', ..."
21860195,World,com.facebook,"['facebook', 'com', 'feysbuk', 'sosial', 'face..."
48714451,Arts,com.youtube,"['youtube', 'animalia', 'ten', 'news', 'austra..."
48714451,Computers,com.youtube,"['ekatetra', 'single', 'handed', 'keyboard', '..."
48714451,Games,com.youtube,"['nick', 'of', 'time', 'video', 'recording', '..."
48714451,Health,com.youtube,"['caleb', 's', 'courage', 'several', 'videos',..."
48714451,Home,com.youtube,"['watch', 'it', 'played', 'rodney', 'smith', '..."